/*Universal Selector*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body Style Selectors*/
body{
    background-color: #d2afff;

}
/*Header Style Selectors*/
header {
    display: flex;
    height: 350px;
    width: 100%;
    background-image: url("../images/pin-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    color: white;
}
header img {
    width: 250px;
    height: 250px;
    display: inline; 
    margin: 40px;
    border-style: solid;
    border-color: #005a00;
    border-radius: 150px;
    border-width: 5px
}
h1 {
    margin: 50px;
    padding: 10px;
    background-color:rgba(0,0,0,.65);
}

/*Nav tag Style Selectors*/
nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color:#005a00;
    color: white;
    height: 30px;
    justify-content: flex-end;
}
nav ul li{
    display: inline-block;
    margin: 0px 20px;
}
/*Main section Style Selectors*/
.about{
    height: 175px;
}
main section h2{
    margin: 20px 0px 0px 50px;
    font-size: 2em;
    width:fit-content;
    position: relative;
    padding: 10px;
    color: white;
}
p {
    display: flex;
    padding: 10px;
    position:relative;
    margin: 0px 50px 0px 200px;
    font-size: 1.25em;
}

div{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 57px;
    position: relative;
    width: 50%;
}
.container {
    position: relative;
    text-align:center;
}

.card{
    border-style: solid;
    border-radius: 27px;
    height: 200px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.image-text {
    position: absolute;
    right: 50px;
    font-size: 20px;
    background-color: black;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    border-radius: 15px;
    padding: 10px
}
.one {
    bottom: 50px; 
}
.two {
    top: 50px;
}

.card-image {
    object-fit: contain;
    padding: 10px;
    border-radius: 25px;
    background-color:white;
}

.content{
    border-style: dashed;
    display: flex;
    justify-content: space-between;
    margin:0px;
    padding:0px;
    width: 100%;
}
.aside{
    margin: 20px;
    padding: 10px;
    background-color:blue;
    width: 25%;
}

main section aside h2{
    margin: 5px 0px 0px 5px;
    font-size: 2em;
    width:fit-content;
    position: relative;
    padding: 10px;
}

/*Footer Style Selectors*/
footer {
    text-align: center;
    background-color: #005a00;
    color: white;
}