header img {
    width: 250px;
    height: 250px;
    display: inline; 
    margin: 40px;
    border-style: solid;
    border-color: #005a00;
    border-radius: 150px;
    border-width: 5px
}

header {
    display: flex;
    height: 300px;
    width: 100%;
    background-image: url("../images/pin-header.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    align-items: center;
    color: white;
}

h1 {
    margin: 50px;
}

header nav ul {
    list-style-type: none;
    position:absolute;
    left: 50px;
    top: 250px;
}

.header nav ul li{
    display: inline-block;
}

main{
    display: flex;
}

.container{
    width: 100%;
}

.card{
    text-align:end;
    border-style: solid;
    padding: 10px;
    height: 300px;
    width: 300px;
    flex-wrap: wrap;
    margin: 20px;
}

main section {
    display: flex;
    border-style: dashed;
    flex-wrap: wrap;
}

footer {
    text-align: center;
}